{{! Partial for a single post }}
<div class="post">
    <div class="post-content preserve-newlines">
        <div class="post-header">
            <img class="post-avatar" src="{{#if avatar_url}}{{avatar_url}}{{else}}/avatar/{{username}}{{/if}}" alt="Avatar">
            <span class="post-username">{{username}}</span>
            <span class="post-timestamp">{{timestamp}}</span>
        </div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        {{#if mediaPath}}
            <div class="post-media">
                {{#ifCond mediaType 'image'}}
                    <img src="{{mediaPath}}" alt="Image" style="max-width: 100%; height: auto; display: block; margin: 10px auto;">
                {{else ifCond mediaType 'audio'}}
                    <audio controls>
                        <source src="{{mediaPath}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                {{else ifCond mediaType 'video'}}
                    <video controls>
                        <source src="{{mediaPath}}" type="video/mp4">
                        Your browser does not support the video element.
                    </video>
                {{/ifCond}}
            </div>
        {{/if}}
        {{#if mediaUrl}}
            <div class="post-media {{#ifCond mediaType 'youtube'}}youtube{{/ifCond}}">
                {{#ifCond mediaType 'youtube'}}
                    <iframe src="{{extractYouTubeEmbedUrl mediaUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {{else ifCond mediaType 'soundcloud'}}
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{mediaUrl}}"></iframe>
                {{/ifCond}}
            </div>
        {{/if}}
        <div class="post-status-bar">
            {{#ifCond username user.username}}
                <button class="delete-button" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button>
            {{else}}
                <button class="like-button" data-id="{{id}}" data-logged-in="{{loggedIn}}">♥</button>
            {{/ifCond}}
            <span>{{likes}} likes</span>
            <a href="/post/{{id}}" class="comment-icon">
                    <i class="fas fa-comment"></i> <span>comments</span>
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', handleLikeClick);
        });

        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', handleDeleteClick);
        });
    });

    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');
        const loggedIn = event.target.getAttribute('data-logged-in') === 'true';
        console.log('Logged In:', loggedIn); // debugging logs
        console.log('Post ID:', postId); // debugging logs

        if (!loggedIn) {
            window.location.href = '/login';
            return;
        }

        fetch(`/like/${postId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });      
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');
        fetch(`/delete/${postId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });
    }    
</script>
