<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> 

    <title>{{{appName}}}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="sidebar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" class="header-logo" alt="Logo">
                    <h1>{{{appName}}}</h1>
                </a>
            </div>
            <nav>
                <ul>
                    {{#if loggedIn}}
                        <li><a href="/"><i class="fas fa-home"></i> <span class="nav-text">Home</span></a></li>
                        <li><a href="/write-post"><i class="fas fa-edit"></i> <span class="nav-text">Write a Post</a></li>
                        <li><a href="/profile"><i class="fas fa-user"></i> <span class="nav-text">Profile</span></a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span class="nav-text">Logout <span>{{user.username}}</span></span></a></li>
                        <div class="user-info">
                            <a href="/profile">
                                <img src="{{#if user.avatarUrl}}
                                    {{user.avatarUrl}}
                                    {{else}}
                                    /avatar/{{user.username}}
                                    {{/if}}" 
                                    alt="User Avatar" 
                                    class="header-avatar">
                            </a>
                        </div>
                    {{else}}
                        <li><a href="/"><i class="fas fa-home"></i> <span class="nav-text">Home</span></a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> <span class="nav-text">Login/Register</span></a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    <div class="main-container">
        
        <div class="content-wrapper">
            {{{body}}}
        </div>
        
    </div>

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>
</body>
</html>
